<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KiD</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/gallery.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.0/css/lightbox.css">
</head>

<body>
    <p>KiD Gallery</p>
    <hr>
    <div class="container">
        <div class="row">
            <a href="/galleryPhotos/IMG_1717.jpg" data-lightbox="image1"><img class="col-xs-12 col-md-4"
                    src="/galleryPhotos/IMG_1717.jpg"></a>
            <a href="/galleryPhotos/KamenaGalanterijaBuric (20).jpg" data-lightbox="image2"><img
                    class="col-xs-12 col-md-4" src="/galleryPhotos/KamenaGalanterijaBuric (20).jpg"></a>
            <a href="/galleryPhotos/KamenaGalanterijaBuric (23).jpg" data-lightbox="image3"><img
                    class="col-xs-12 col-md-4" src="/galleryPhotos/KamenaGalanterijaBuric (23).jpg"></a>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.0/js/lightbox.js"></script>
</body>

</html>